<div class="mdl-cell mdl-cell--9-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Contact</h2>
    </div>
    <div id="contact-description" class="mdl-card__supporting-text">
        <p>
            If you really want to get in touch with me, you can use one of the social networks on which I have a public
            profile.
        </p>
    </div>
</div>
<div id="card-image-profile" class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--4dp"></div>
<div class="card-external-profile mdl-cell mdl-cell--3-col mdl-card mdl-shadow--4dp">
    <a href="https://github.com/rmonteil" target="_blank">
        <img alt="Robin Monteil's Github profil" title="Robin Monteil's Github profil" src="../assets/img/contact-github.png" />
    </a>
    <div class="mdl-card__actions mdl-card--border">
        <a href="https://github.com/rmonteil" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Github
        </a>
    </div>
</div>
<div class="card-external-profile mdl-cell mdl-cell--3-col mdl-card mdl-shadow--4dp">
    <a href="https://twitter.com/robinmonteil" target="_blank">
        <img alt="Robin Monteil's Twitter profil" title="Robin Monteil's Github profil" src="../assets/img/contact-twitter.png" />
    </a>
    <div class="mdl-card__actions mdl-card--border">
        <a href="https://twitter.com/robinmonteil" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Twitter
        </a>
    </div>
</div>
<div class="card-external-profile mdl-cell mdl-cell--3-col mdl-card mdl-shadow--4dp">
    <a href="https://keybase.io/robinmonteil" target="_blank">
        <img alt="Robin Monteil's Keybase profil" title="Robin Monteil's Github profil" src="../assets/img/contact-keybase.png" />
    </a>
    <div class="mdl-card__actions mdl-card--border">
        <a href="https://keybase.io/robinmonteil" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Keybase
        </a>
    </div>
</div>
<div class="card-external-profile mdl-cell mdl-cell--3-col mdl-card mdl-shadow--4dp">
    <a href="https://www.linkedin.com/in/robinmonteil/" target="_blank">
        <img alt="Robin Monteil's Linkedin profil" title="Robin Monteil's Github profil" src="../assets/img/contact-linkedin.png" />
    </a>
    <div class="mdl-card__actions mdl-card--border">
        <a href="https://www.linkedin.com/in/robinmonteil/" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Linkedin
        </a>
    </div>
</div>